body
  overflow-y: hidden

.header-background
  background-position: 50% -125px

.header-logo
  margin-top: -10px
  max-width: 150px

.iconHome
  width: 20px
  margin-top: -5px

.testimonial-width
  background-position: 50% -150px

.div-google-map
  width: 100%
  height: 100%

.contact-google-map
  width: 100%
  min-height: 250px
  border:0
  pointer-events: none

.contact-background-map
  background:url('../images/image_map.jpg') no-repeat
  background-size: cover

@media screen and (max-width: 800px)
  .contact-background-map
    background-size: 100% 100%

.contact-text-center
  text-align: center

.contact-image-icon
  max-width: 50px

.work-btn-design
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent
  border: none

.work-btn-design:hover
  color: silver

.work-modal-title
  color: red
