.header-background
  background-position: 50% -125px

.header-logo
  margin-top: -10px
  max-width: 70px

.testimonial-width
  background-position: 50% -150px

.div-google-map
  width: 100%
  height: 100%

.contact-google-map
  width: 100%
  min-height: 250px
  border:0
  pointer-events: none

.work-btn-design
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent
  border: none

.work-btn-design:hover
  color: silver
